body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#aboutMe {
    position: relative;
    top: 115px;
}
#aboutMe img {
    width: 200px;
}
.collapse {
    transition: height 0.9s ease;
    height: 0; /* This means the element is hidden by default */
  }
  
  .collapse.show {
    height: auto; /* This means the element will take the height of its content */
  }